.header_earning {
    display: flex;
    justify-content: space-between;
    gap: 20px
}
.header_earning li {
    width: 245px;
    height: 133px;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #F0F0F0;
    margin-top: 20px;
}
.header_earning li .content {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 700;
}

.bodyContent_earning {
    margin-top: 20px;
}

.header_best_Selling_Courses {
    padding: 15px;
    margin-top: 50px
}

.body-best_Selling_Courses {
    padding: 15px
}