.card_basic-intro {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    /* transition: transform 5s esae-in-out; */
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #fff;
    border: 1px solid #e9ecef;
    cursor: pointer;
    padding: 25px;
    display: flex;
    gap: 15px;
}
.card_basic-intro:hover {
    transform: translateY(-5px);
}
.card_basic-intro .content-left {
    width: 40%;
}

.card_basic-intro ul {
    width: 50%;
}


/* coursesCate */
.coursesCate {
    background: #fff;
    width: 90%;
    height: 270px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #e9ecef; 
    text-aligt: center;
    display:flex;
    justify-content: center;
    cursor:pointer
}
.coursesCate .content_box {
    margin-top: 25px;
}
.coursesCate .content_box img {
    width: 100px;
    height: 100px;
}
.coursesCate .content_box h1 {
    text-align: center;
    max-width: 100px;
    margin-top: 20px;
}
.coursesCate .content_box p {
    margin-top: 20px;
}

.coursesCate:hover {
    background: #413655;
    color: #fff 
}