.container {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  border-color: #b4a7f5 !important;
  color: var(--text-color-second) !important;
  border: solid 2px !important;
  padding: 5px 20px !important;
  text-transform: capitalize !important;

  &:hover {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--white) !important;
  }
}
