/* .css-r93niq-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: red !important;
    color: #1976d2;
    border: 1px solid red;
    background-color: rgba(25, 118, 210, 0.12);
}
.css-wjh20t-MuiPagination-ul li {

}
.css-r93niq-MuiButtonBase-root-MuiPaginationItem-root {
   background: red !important;
   height
} */