.container {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.contentLeft {
  width: 70%;
}

.contentRight {
  width: 30%;
  margin-top: -305px;
  z-index: 1;
}

.commentViews,
.comment,
.overviewSec,
.includes,
.train,
.courseContent {
  background-color: var(--white);
  border-radius: 10px !important;
  border: 1px solid #e9ecef;
  padding: 24px;
}

.overviewSec {
  margin-bottom: 1.875rem;
  border-radius: 0;
}

.subsTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: #392c7d;
  margin-bottom: 20px;
}

.body {
  font-size: 1.4rem;
  h6 {
    font-weight: 600;
    font-size: 1.4rem;
    color: #0b0b0b;
    margin-bottom: 20px;
  }
}

.sideBar {
}

.train {
  padding: 24px;
}

.image {
  width: 100%;
}

.courseFee {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-weight: 700;
    font-size: 3rem;
    color: #159f46;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
  }
  span {
    text-decoration: line-through;
  }
  p {
    font-size: 1.4rem;
    color: #777777;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
  }
}

.control {
  margin-top: 24px;
  display: flex;
  gap: 10px;
  a {
    width: 50%;
  }
  :global(.MuiButtonBase-root) {
    width: 100%;
    font-size: 1.4rem !important;
  }
}

.enroll {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  a {
    width: 100%;
  }
  :global(.MuiButtonBase-root) {
    width: 100%;
  }
}

.includes {
  margin-top: 24px;
  li {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    h4 {
      font-size: 1.8rem;
    }
    span {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentViews,
.comment {
  margin-top: 24px;
}
