.container {
}

.video {
  // background-color: forestgreen;
  display: flex;
  justify-content: center;
  padding: 24px;
  :global(iframe) {
    height: 100%;
    width: 95%;
  }
  height: 100%;
}

.videoContent {
  height: 650px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.contentTitle {
  width: 95%;
  margin: auto;
  padding: 24px;
  h1 {
    font-size: 4rem;
    padding-bottom: 24px;
  }

  p {
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
}
