.body {
  display: flex;
  background-color: #fff;
  height: 100vh;

  .left {
    padding: 100px;
    align-items: center;
    background-color: azure;
    flex: 1;
    h2 {
      display: block;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      line-height: 1.2;
      font-weight: 500;
      text-align: center;
    }
    p {
      text-align: center;
    }

    img {
      width: 100%;
    }
  }

  .right {
    padding: 100px;
    flex: 1;
    text-align: justify;

    .dream {
      a {
        float: right;
      }
    }

    img {
      width: 100px;
    }
    h2 {
      font-weight: 500;
      font-size: 3rem;
      padding-bottom: 30px;
    }
    form {
      :global(.MuiInputBase-root) {
        margin-bottom: 20px;
      }
      :global(.MuiFormHelperText-root) {
        font-size: 1.2rem;
        margin-top: -10px;
        margin-bottom: 20px;
      }

      input {
        width: 100%;
        border-radius: 5px;
        padding: 15px;
        font-weight: 600;
      }
      label {
        margin-bottom: 15px;
        color: #685f78;
        font-weight: 500;
        display: block;
      }

      .forgot {
        color: #392c7d;
        font-size: 15px;
        font-weight: 600;
      }

      .checkbox {
        display: flex;
        margin-left: 0;
        width: 16%;
        padding: 2px 0;

        input {
          margin-top: 5px;
        }
      }

      .button {
        cursor: pointer;
        width: 100%;
        height: 60px;
        background-color: #ff875a;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        color: #fff;
        font-size: 20px;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .botteam {
      a {
        display: block;
        text-align: center;
        margin-top: 60px;
      }

      .icon {
        margin-top: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        div {
          cursor: pointer;
          display: flex;
          text-align: center;
          align-items: center;
          gap: 10px;
          &:hover {
            color: var(--primary);
          }
        }
        a {
          padding: 10px;
          margin-top: 20px;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}
