* {
    margin: 0;
    padding: 0;
}
/* Header Home */
.wrapp_header_home {
    position: relative;
    /* background: pink; */
    /* padding-top: 130px; */
    /* min-height: 750px; */
}
.wrapp_header_home .bg_main_img {
    width: 100%;
    height: 750px;
}
.wrapp_header_home .box_content_header {
    position: absolute;
    width: 80%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    /* bottom: 0; */
    /* transform: translateY(-50%); */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 0px; */
    /* height: 550px; */
    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.box_content_header .left_content {
    width:55%;
}
.box_content_header .left_content h1 {
    font-size: 45px;
    color: #22100D;
    line-height: initial;
    margin-top: 25px;
    margin-bottom: 25px;
}
.box_content_header .left_content p {
    font-size: 20px;
    color: #685F78;
}
.box_content_header .left_content ul {
    display: flex;
    margin-top: 80px;
    gap: 30px
}
.left_content ul li b {
    font-size: 45px;
}
.star_icon {
    color: #FFB800;
    font-size: 20px;
    align-items: center
}
.left_content ul li:first-child {
    
}

/* groud_cardIntro-header */
.groud_cardIntro-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    /* bottom: 20%; */
    margin: auto;
    /* top: 0; */
    left: -45px;
    right: 0;
    bottom: -20px;
}
.groud_cardIntro-header li {
    width: 20%;
    height: 85px;
}

/* Body home */
.wrapp_body_home {
    /* min-height: 700px */
    margin-top: 82px;
}
/*  */
/* .wrapp_body_home .box_carosel_topCate {
    width: 82%;
    margin: auto;
    margin-top: 80px;

} */
.box_featured_courses .content-cardTopCate {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 60px;
    padding-bottom: 80px;
}
/* master skill content */
.wrapp_body_home .master_skill_content {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}
.wrapp_body_home .master_skill_content .left-content {
    width: 60%;
}
.left-content .wrap_box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
}
.left-content .wrap_box li {
    width: 82.5%;
    max-height: 70px;
    margin-bottom: 50px;
}
.wrapp_body_home .master_skill_content .right-content {
    width: 40%;
}
.master_skill_content .right-content img {
    width: 98%;
}