/* Card User */
* {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}
.class_compress_basic {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}
/* Card User */
.group_btn_interact {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    justify-content: center
}
.group_btn_contact {
    display: flex
}
.group_btn_contact li:first-child {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 
}
.group_btn_contact li:last-child {
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    background: #FC5A69
}

/* EvaluateStar  */
.group_evaluate_star {
    margin-top: 5px;
    display: flex;
    gap: 2px;
}
.group_evaluate_star li {
    color: #FFC107;
}

/* Modal Show */
.modal_show {
    top: 45%;
    left: 56%;
    width: 30%;
    padding: 30px;
    padding-right: 40px;
    border-radius: 10px
}

/* GroupBtn Save Cancel */
.GroupBtn_Save-Cancel Button {
    background: #000
}

.GroupBtn_Save-Cancel Button:hover {
    background: #3d3b3b
}

/* responsive */
@media only screen and (max-width: 1000px) {
    .menu_dashboard {
        display: none;
    }
    .wrapp_menu_dashboard {
        display: none;
    }
    .layout_admin {
        width: 100%;
    }
    .wrapp_teacherInfo {
        width: 100%;
    }
    .wrap_content_admin {
        margin-left: 0px;
        padding: 20px;
    }
    .wrapp_teacherInfo .content-left {
        width: 100%;
    }
    .wrapp_teacherInfo .content-right {
        width: 100%;
    }

    /* Modal Show */
    .modal_show {
        top: 46%;
        left: 50%;
        width: 76%;
    }
    
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
   
}

/* Mobile */
@media only screen and (max-width: 400px) {
    /* Modal Show */
    .modal_show {
        width: 82%;
    }
}